# Archivos compilados
*.class
*.jar
*.war
*.ear

# Carpetas de IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf

# Carpeta out (archivos compilados)
out/

# Archivos del sistema
.DS_Store
Thumbs.db

# NO ignorar estos archivos importantes:
!.idea/
!.idea/libraries/
!.idea/modules.xml
!.idea/misc.xml
!.idea/vcs.xml
!*.iml
!lib/